@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font: 'Roboto', sans-serif;
    --menu-bold: 700;
    --title-bold: 600;
}

h1{
    font-size: 28px;
    margin-bottom: 1em;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 22px;
    margin-top: .5em;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 16px;
}

body {
    display: grid;
    grid-template-rows: 6% 94%;
    grid-template-columns: 15% 42.5% 42.5%;
    grid-template-areas: 
        "header header header"
        "aside main main"
        "aside main main";
    font-family: var(--font);
}

header {
    background-color: white;
    grid-area: header;
    display: grid;
    align-items: center;
    padding: 0 1.5em;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "leftside searchside rightside";
}

.header-left-side {
    grid-area: leftside;
    place-self: center flex-start;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.header-search {
    grid-area: searchside;
    place-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-search input {
    width: 85%;
    height: 50%;
    box-sizing: border-box;
    padding: 0;
}

.header-search div{
    width: 15%;
    height: 50%;
    border: 1px solid black;
    border-left: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(204, 204, 204, 1);
}


.header-right-side {
    grid-area: rightside;
    place-self: center flex-end;
    display: flex;
    gap: 1.5em;
}

.header-right-side .profile-picture {
    width: 40px;
    border-radius: 50%;
}

aside {
    background-color: white;
    grid-area: aside;
    padding: 1em 1.5em;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(25, 1fr);
    align-content: start;
    gap: .5em;
}

.menu-1 {
    font-weight: var(--menu-bold);
}

.sidebar-align {
    display: flex;
    align-items: center;
    gap: .5em;
}

main {
    grid-area: main;
    display: grid;
    gap: 1em;
    padding: 1em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
}

.main-content {
    display: grid;
    box-sizing: border-box;
    column-gap: 1em;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto 18% auto; 
    grid-template-areas: 
        "banner banner banner"
        "profile title title"
        ". description description";
    align-items: center;
}

.main-content-banner {
    grid-area: banner;
    width: 100%;
}

.main-content-channel-profile {
    grid-area: profile;
    place-self: center flex-start;
    height: 80%;
    border-radius: 50%;
}

.main-content h6 {
    font-weight: var(--title-bold);
    grid-area: title;
}

.main-content p{
    grid-area: description;
}